:root {
  --bg-color: #ffd75d;
  --text-color: #191919;
}

body {
  margin: 0;
  font-family: 'Prata', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
